header{
    margin-left: 50px;
}

header ul{
    list-style: none;
    display: flex;
    align-content: center;
}

header li {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header h3{
    font-family: Lato,Lucida Sans Unicode,Lucida Grande,sans-serif;
}

#user{
    display: flex;
    align-items: center;
    width: 260px;
}

#user h3{
    margin-left: 15px;
}

#logo-umagdalena{
    width: 70px;
    height: 70px;
}
#texto-logo{
    margin-left: 15px;
    color: #284d77;
}

.img-logo{
    width: 30px;
    height: 30px
}

nav{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(45, 45, 163);
}

nav ul{
    margin-left: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-family: Lato,Lucida Sans Unicode,Lucida Grande,sans-serif;
}

section{
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(236, 235, 235);
}

body {
    font-family: Lato, Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.titulo{
    display: flex;
    justify-content: center;
}
.titulo h2{
    font-size: 37px;
}

.busqueda{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.input-busqueda{
    display: flex;
    gap: 0px;
}

.input-busqueda img{
    width: 20px;
    height: 20px;
}

.busqueda a {
    text-decoration: none;
    color:rgb(0, 17, 255);
}

article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.cajas-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-column: span 1; 
    grid-row: span 1; 
    border-radius: 5px;
}

.cajas-perfil img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    
}

.cajas-perfil h3{
    margin-top: 10px;
    margin-bottom: 0px; 
}

.cajas-perfil h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(56, 55, 55);
}

.cajas-perfil button{
    cursor: pointer;
    width: 90px;
    height: 30px;
    background-color: rgb(30, 118, 218);
    color: white;
    border-color: rgb(30, 118, 218);
    border-radius: 5px;
}

#listo{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 90px;
    height: 30px;
    background-color: rgb(30, 118, 218);
    color: white;
    border-color: rgb(30, 118, 218);
    border-radius: 5px;
}

.icon-redes{
    margin-top: 10px;
    display: flex;
    gap: 25px;
}

.icon-redes img{
    width: 30px;
    height: 30px;
}

footer{
    background-color: rgb(45, 45, 163);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p {
    margin-bottom: 0px;
}